/* body {
  background: linear-gradient(to top left, #033e1b, #004C38, #00733D, #004C38, #033e1b);
	height: 100vh;
  margin: 0;
} */

/* * {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
} */

